/*<meta />*/



/*==BEGIN importing google fonts so that all users can see them==*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Varela+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Varela+Round&display=swap');

/*==END importing google fonts so that all users can see them==*/

body
{
	background-color: #1a1f36;
	font-size: 12px;
	color: #A9A9A9;
	font-family: 'Roboto', sans-serif;
}






h1
{
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 600;
	line-height: 25px;
	position: relative;
	color: white;
	border-top: solid 2px #4f566b;
	
}

h2
{
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 21pt;
	color: white;
	position: relative;
	
}



h3
{
	margin-top: 5px;
	padding-top: 5px;
	margin-bottom: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 17px;
	color: white;
	position: relative;
	
}

h4
{
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 600;
	line-height: 18px;
	color: white;
	position: relative;
	border-top: solid 2px #4f566b;
	
	
}




p
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-size: 14px;
}




aside.notice2
{
	mc-auto-number-format: '{color #000099}{b}Note: {/b}{/color}';
	overflow: hidden;
	padding: 12px;
	background-color: #798EA4;
	border-left: solid 4px #0A75C2;
	margin-bottom: 14px;
	margin-top: 14px;
	margin-right: 33%;
	border-radius: 7px;
	color: white;
}

aside.notice
{
	mc-auto-number-format: '{color #000099}{b}Note: {/b}{/color}';
	overflow: hidden;
	padding: 12px;
	background-color: #798EA4;
	border-left: solid 4px #0A75C2;
	margin-bottom: 14px;
	margin-top: 14px;
	
	border-radius: 7px;
	color: white;
}



div.Note
{
	mc-auto-number-format: '{color #ff9933}{b}Note: {/b}{/color}';
	overflow: hidden;
	padding: 12px;
	background-color: #798EA4;
	border-left: solid 4px #ffc600;
	margin-top: 14px;
	margin-bottom: 14px;
	margin-right: 20%;
	border-radius: 7px;
	color: white;
}




div.code2
{
	vertical-align: baseline;
	text-decoration: none;
	background: #333;
	font-variant: normal;
	font-family: 'Courier';
	font-size: 9pt;
	color: white;
	line-height: 10pt;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-radius: 7px;
	margin-right: 33%;
}

div.code
{
	vertical-align: baseline;
	text-decoration: none;
	background: #333;
	font-variant: normal;
	font-family: 'Courier';
	font-size: 9pt;
	color: white;
	line-height: 10pt;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-radius: 7px;
	
}

div.code2 > p
{
	vertical-align: baseline;
	text-decoration: none;
	font-variant: normal;
	font-family: 'Courier';
	font-size: 9pt;
	line-height: 10pt;
	margin: 2px;
}

div.code > p
{
	vertical-align: baseline;
	text-decoration: none;
	font-variant: normal;
	font-family: 'Courier';
	font-size: 9pt;
	line-height: 10pt;
	margin: 2px;
}




.center
{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	float: none !important;
	text-align: center;
}

.off-canvas-content .main-section > .outer-row
{
	max-width: 100%;
	padding: 0;
}

/*==Home Tiles section FOR THREE COLUMNS ==*/

div.home-tiles-container
{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: transparent;
	position: relative;
}

div.home-tiles-three-row	/*This is a custom responsive layout row style (div class) in your stylesheet. This is for Home pages that use rows of 3 tiles, NOT rows of 2 tiles.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	
	
}

div.home-tiles-three-row::before
{
	content: ' ';
	display: table;
}

div.home-tiles-three-row::after
{
	content: ' ';
	display: table;
	clear: both;
	margin-bottom: 10px;
}

div.home-tiles-three-row > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #1a1f36;
	
	padding: 5px;
	overflow: hidden;
}



div.home-tiles-three-row > div:nth-child(1)
{
	width: 15%;
	margin-left: 2%;
	background-color: #1a1f36;
}

div.home-tiles-three-row > div:nth-child(2)
{
	width: 37%;
	margin-left: 3%;
}

div.home-tiles-three-row > div:nth-child(3)
{
	width: 37%;
	margin-left: 3%;
	margin-right: 1%;
}





@media only screen and (max-width: 1279px)
{
	div.home-tiles-three-row > div:nth-child(1)
	{
		width: 15%;
		margin-left: 2%;
	}

	div.home-tiles-three-row > div:nth-child(2)
	{
		width: 39%;
		margin-left: 1%;
	}

	div.home-tiles-three-row > div:nth-child(3)
	{
		width: 39%;
		margin-left: 1%;
		margin-right: 1%;
	}

	}
	
	
	
	
	@media only screen and (max-width: 900px)
{
	div.home-tiles-three-row > div
	{
		margin-top: 2%;
	}

	div.home-tiles-three-row > div:nth-child(1)
	{
		width: 90%;
		margin-left: 5%;
	}

	div.home-tiles-three-row > div:nth-child(2)
	{
		width: 90%;
		margin-left: 5%;
	}

	div.home-tiles-three-row > div:nth-child(3)
	{
		width: 90%;
		margin-left: 5%;
	}
}
	
	

	/*==End of THREE COLUMNS==*/

	
	
	/*==Home Tiles section FOR TWO COLUMNS==*/

div.home-tiles-container
{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: transparent;
	position: relative;
}

div.home-tiles-two-row	/*This is a custom responsive layout row style (div class) in your stylesheet. This is for Home pages that use rows of 3 tiles, NOT rows of 2 tiles.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.home-tiles-two-row::before
{
	content: ' ';
	display: table;
}

div.home-tiles-two-row::after
{
	content: ' ';
	display: table;
	clear: both;
	margin-bottom: 10px;
}

div.home-tiles-two-row > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #1a1f36;
	padding: 5px;
	overflow: hidden;
}



div.home-tiles-two-row > div:nth-child(1)
{
	width: 15%;
	margin-left: 2%;
	background-color: #1a1f36;
}

div.home-tiles-two-row > div:nth-child(2)
{
	width: 80%;
	margin-left: 1%;
	margin-right: 1%;
}





@media only screen and (max-width: 1279px)
{
	div.home-tiles-two-row > div:nth-child(1)
	{
		width: 15%;
		margin-left: 2%;
	}

	div.home-tiles-two-row > div:nth-child(2)
	{
	width: 80%;
	margin-left: 1%;
	margin-right: 1%;
}

}

	


@media only screen and (max-width: 900px)
{
	div.home-tiles-two-row > div
	{
		margin-top: 2%;
	}

	div.home-tiles-two-row > div:nth-child(1)
	{
		width: 90%;
		margin-left: 5%;
	}

	div.home-tiles-two-row > div:nth-child(2)
	{
		width: 90%;
		margin-left: 5%;
	}


}
	
	
/*==End of TWO COLUMNS==*/	
	
	

	






	

	



/*==Mad Cap proxy/editor assigned styles==*/

MadCap|topicToolbarProxy
{
	float: none;
}

MadCap|menuProxy.menu1
{
	mc-toc-depth: 1;
	mc-context-sensitive: True;
}

MadCap|menuProxy.menu2
{
	mc-toc-depth: 1;
	mc-context-sensitive: True;
}



/*==Responsive Header Styles==*/

#contentBody > .responsive-header
{
	background-color: transparent;
}




















/*This is used as a fix for an issue in Chrome regarding the parallax effect and foundation*/

.off-canvas-content,
.off-canvas-wrapper
{
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}

MadCap|xref
{
	font-size: 1em;
	color: #5a5a5a;
	text-decoration: none;
}

MadCap|xref:focus
{
	text-decoration: underline;
}

MadCap|xref:hover
{
	text-decoration: underline;
}